RowUtilMetro/src/com/easyinsight/rowutil/transactional/EITransactionalLoad.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="BasicAuthTransactionalLoadAPIService" targetNamespace="http://v2.api.easyinsight.com/" xmlns:ns1="http://schemas.xmlsoap.org/wsdl/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://v2.api.easyinsight.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://v2.api.easyinsight.com/" xmlns:tns="http://v2.api.easyinsight.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="beginTransaction" type="tns:beginTransaction" />
<xs:element name="beginTransactionResponse" type="tns:beginTransactionResponse" />
<xs:element name="commit" type="tns:commit" />
<xs:element name="commitResponse" type="tns:commitResponse" />
<xs:element name="loadRows" type="tns:loadRows" />
<xs:element name="loadRowsResponse" type="tns:loadRowsResponse" />
<xs:element name="rollback" type="tns:rollback" />
<xs:element name="rollbackResponse" type="tns:rollbackResponse" />
<xs:element name="validateCredentials" type="tns:validateCredentials" />
<xs:element name="validateCredentialsResponse" type="tns:validateCredentialsResponse" />
<xs:complexType name="loadRows">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="rows" type="tns:row" />
<xs:element minOccurs="0" name="transactionID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="row">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="datePairs" nillable="true" type="tns:datePair" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="numberPairs" nillable="true" type="tns:numberPair" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="stringPairs" nillable="true" type="tns:stringPair" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="datePair">
<xs:sequence>
<xs:element minOccurs="0" name="key" type="xs:string" />
<xs:element minOccurs="0" name="value" type="xs:dateTime" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="numberPair">
<xs:sequence>
<xs:element minOccurs="0" name="key" type="xs:string" />
<xs:element name="value" type="xs:double" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="stringPair">
<xs:sequence>
<xs:element minOccurs="0" name="key" type="xs:string" />
<xs:element minOccurs="0" name="value" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="loadRowsResponse">
<xs:sequence />
</xs:complexType>
<xs:complexType name="rollback">
<xs:sequence>
<xs:element minOccurs="0" name="transactionID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="rollbackResponse">
<xs:sequence />
</xs:complexType>
<xs:complexType name="validateCredentials">
<xs:sequence />
</xs:complexType>
<xs:complexType name="validateCredentialsResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="beginTransaction">
<xs:sequence>
<xs:element minOccurs="0" name="dataSourceName" type="xs:string" />
<xs:element name="transactionOperation" type="xs:boolean" />
<xs:element name="changeDataSourceToMatch" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="beginTransactionResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="commit">
<xs:sequence>
<xs:element minOccurs="0" name="transactionID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="commitResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:commitResult" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="commitResult">
<xs:sequence>
<xs:element minOccurs="0" name="dataSourceAPIKey" type="xs:string" />
<xs:element minOccurs="0" name="dataSourceURL" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="failedRows" nillable="true" type="tns:rowStatus" />
<xs:element minOccurs="0" name="failureMessage" type="xs:string" />
<xs:element name="successful" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="rowStatus">
<xs:sequence>
<xs:element minOccurs="0" name="failureMessage" type="xs:string" />
<xs:element minOccurs="0" name="row" type="tns:row" />
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="validateCredentials">
    <wsdl:part element="tns:validateCredentials" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="commit">
    <wsdl:part element="tns:commit" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadRowsResponse">
    <wsdl:part element="tns:loadRowsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadRows">
    <wsdl:part element="tns:loadRows" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateCredentialsResponse">
    <wsdl:part element="tns:validateCredentialsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="beginTransactionResponse">
    <wsdl:part element="tns:beginTransactionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="rollbackResponse">
    <wsdl:part element="tns:rollbackResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="commitResponse">
    <wsdl:part element="tns:commitResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="beginTransaction">
    <wsdl:part element="tns:beginTransaction" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="rollback">
    <wsdl:part element="tns:rollback" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EITransactionalLoad">
    <wsdl:operation name="loadRows">
      <wsdl:input message="tns:loadRows" name="loadRows">
    </wsdl:input>
      <wsdl:output message="tns:loadRowsResponse" name="loadRowsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rollback">
      <wsdl:input message="tns:rollback" name="rollback">
    </wsdl:input>
      <wsdl:output message="tns:rollbackResponse" name="rollbackResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateCredentials">
      <wsdl:input message="tns:validateCredentials" name="validateCredentials">
    </wsdl:input>
      <wsdl:output message="tns:validateCredentialsResponse" name="validateCredentialsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="beginTransaction">
      <wsdl:input message="tns:beginTransaction" name="beginTransaction">
    </wsdl:input>
      <wsdl:output message="tns:beginTransactionResponse" name="beginTransactionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="commit">
      <wsdl:input message="tns:commit" name="commit">
    </wsdl:input>
      <wsdl:output message="tns:commitResponse" name="commitResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicAuthTransactionalLoadAPIServiceSoapBinding" type="tns:EITransactionalLoad">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="loadRows">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="loadRows">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="loadRowsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rollback">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="rollback">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="rollbackResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateCredentials">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="validateCredentials">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="validateCredentialsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="beginTransaction">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="beginTransaction">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="beginTransactionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="commit">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="commit">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="commitResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BasicAuthTransactionalLoadAPIService">
    <wsdl:port binding="tns:BasicAuthTransactionalLoadAPIServiceSoapBinding" name="BasicAuthTransactionalLoadAPIPort">
      <soap:address location="https://www.easy-insight.com/app/services/EITransactionalLoad" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>