java/src/com/easyinsight/datafeeds/custom/client/DataProvider.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DatabaseServerService" targetNamespace="http://db.easyinsight.com/" xmlns:ns1="http://sampleimpl.easyinsight.com/" xmlns:ns2="http://schemas.xmlsoap.org/wsdl/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://db.easyinsight.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:import location="http://localhost:9090/database/services/Database?wsdl=DataProvider.wsdl" namespace="http://sampleimpl.easyinsight.com/">
    </wsdl:import>
  <wsdl:binding name="DatabaseServerServiceSoapBinding" type="ns1:DataProvider">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getColumns">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getColumns">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getColumnsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPropertiesForDefinition">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPropertiesForDefinition">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPropertiesForDefinitionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFields">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getFields">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getFieldsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPossibleStringValues">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPossibleStringValues">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPossibleStringValuesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="defineDataSource">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="defineDataSource">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="defineDataSourceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSpecifications">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getSpecifications">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSpecificationsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRows">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getRows">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRowsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPossibleDateValues">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPossibleDateValues">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPossibleDateValuesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DatabaseServerService">
    <wsdl:port binding="tns:DatabaseServerServiceSoapBinding" name="DatabaseServerPort">
      <soap:address location="http://localhost:9090/database/services/Database"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>